*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
    display: flex;
    
}

.container{
    margin: 0 auto;
    width: 1140px;
}
h1{
    color: black;
   display: flex;
   align-items: center;
}